.form-input {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	align-content: space-around;
	left: 10px;
}
label {
	font-size: 18px;
	color: #8a8d8f;
}
.inputarea {
	width: 100%;
}
.fas-icon {
	width: 10%;
	color: rgb(255, 255, 255);
	margin-right: 5px;
}
input {
	color: rgb(224, 224, 221);
	width: 80%;
	height: 100%;
	border-radius: 5px;
	border: solid transparent;
	background-color: #272626;
}
