<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/room">
        <label>Create room:</label>
        <input type="text" name="roomName">                
        <br>
        <button type="submit">Summit</button>
    </form>
    <form action="/homechat">        
        <label>join room:</label>
        <input name="room">                
        <br>
        <button type="submit">Vào room</button>
    </form>
</body>
</html>